.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  justify-content: center;
}

.productContainer {
  width: 200px;
  margin: 10px;
}

.add {
  background-color: #2e3782;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 100%;
}
.add:hover {
  background-color: #bf101a;
}
.name {
  color: #bf101a;
  text-align: center;
}
.carIcon {
  height: 25px;
  padding: 5px;
}
