.logo {
  margin: 10px;
}

.seleccioneCategoria {
  margin: 10px 0 10px 0;
}

.rigthSection {
  float: right;
}

.carContainer {
  width: 50px;
  margin: 10px;
  text-align: center;
}

.centro {
  text-align: center;
}

.myLink {
  text-decoration: none;
}

.carButton {
  margin: 0px;
}

.carNumberContainer {
  background-color: #bf101a;
  border-radius: 9px;
}

.carNumber {
  margin: 0;
}

.layout.top-bar {
  margin: 0;
  background: #2e3782;
  color: white;
}

.layout.top-bar .wrapper {
  display: flex;
}

.layout.top-bar .section {
  flex: 10%;
}

.layout.top-bar a {
  color: white;
}

.layout.top-bar .section:last-child {
  text-align: right;
}

@media (max-width: 450px) {
  .logo {
    width: 80px;
  }
}
